/*  your css code here. If applicable */

table,td{
	border:1px solid black;
}
 .imageContainer img {
            width: 200px;         
        }
   .textColumn{
            width: 400px;
	 text-align:center;
        }
  