/*  your css code here. If applicable */
table,td{
	border:1px solid black;
}
 .imageContainer img {
            width: 200px;
	        height:200px
            
        }
   .textColumn {
            width: 600px;
        }
  